@import '../../styles/colors.scss';

#--new-game-page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/backgrounds/new_game.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  color: map-get($color_white, '_a');
  text-align: center;

  h1 {
    font-size: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 3vh;
    margin-top: 5vh;
  }

  .carts {
    display: flex;
    gap: 40px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }

  .buttons {
    display: flex;
    gap: 8px;
    width: fit-content;
    margin: 4vh auto;

    > div {
      width: 163px;
    }
  }
}