.radio-box {
  > label {
    display: flex;
    gap: 4px;
    padding: 10px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }

  input[type="radio"] {
		-webkit-appearance: none;
		appearance: none;
		background-color: rgba(226, 235, 244, 0.25);
		display: grid;
		place-content: center;
		font: inherit;
		width: 24px;
		height: 24px;
		border: 1px solid rgba(226, 235, 244, 0.25);
		border-radius: 50%;
		transform: translateY(-0.075em);
		cursor: pointer;
	  //margin-top: 6px;
	}

	input[type="radio"]::before {
		content: "";
		width: 24px;
		height: 24px;
		border-radius: 50%;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em #5a61ed;
	}
}

@media screen and (max-height: 800px) {
  .radio-box {
    > label {
      gap: 4px;
      padding: 0;
      font-size: 14px;
    }
  }
}