//@import "../../styles/colors.scss";
//@import "../../styles/rem.scss";

.block {
  color: rgba(0, 0, 0, 0.87);
  //background-color: map-get($color_white, '_a');
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1 3 -1;
  border-radius: 6;
  padding: 16;
  padding-bottom: 24;

  &[disabled] {
    pointer-events: none;
  }

  &.shadow-disable {
    box-shadow: none;
  }
}