#--main-page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/backgrounds/authorisation.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 158px;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  overflow: hidden;

  .container {
    height: fit-content;
    width: 500px;
  }

  .logo-large {
    background-image: url(../../assets/logo/logo_big.png);
    width: 450px;
    height: 286px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
  }

  .starting-element {
    display: flex;
    gap: 50px;
    flex-direction: column;
  }

  .redirecting-menu {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
  }

  .form.form-big {
    height: 801px;
  }

  .form {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 691px;
    margin: 55px 0px 0px 0px;
    padding: 73px 50px 70px;
    background: #1D1C2B;
    box-shadow: 0px 0px 30px rgba(48, 156, 255, 0.5);
    border-radius: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background:  linear-gradient(180deg, #459DFC 0%, #071A7A 100%);
      border-radius: 34px;
      z-index: -1;
    }

    &__logo {
      position: absolute;
      width: 180px;
      height: 117px;
      top: -56px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      border-radius: 10px;
      background: rgba(29, 28, 43, 0.6);
      box-shadow: 0px -5px 30px 20px rgb(29 28 43 / 60%);
      background-image: url(../../assets/logo/logo_big.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__contract {
      font-size: 14px;
      line-height: 20px;
      padding-top: 24px;
    }

    &__contract-btn,
    &__remember-btn {
      color: #309CFF;
      cursor: pointer;
      display: inline-block;
      border-bottom: 1px solid transparent;
      transition: all .3s linear;
    }

    &__recovery,
    &__remember-btn {
      margin-bottom: 16px;
    }

    &__contract-btn:hover,
    &__remember-btn:hover {
      border-bottom: 1px solid #2087E7;
    }

    &__contract-btn:active,
    &__remember-btn:active {
      color: #6020E7;
      transition: all .1s linear;
      border-bottom: 1px solid transparent;
    }

    &__contract-btn > a {
      text-decoration: none;
      color: '#fff';
    }

    .error-response-text {
      font-size: 16px;
      line-height: 24px;
      color: #DF1616;
      padding-bottom: 16px;
    }
  }
}
