.button-root {
  height: fit-content;
  border-radius: 6px;
  overflow: hidden;
  display: inline-flex;
  position: relative;
  outline: none;
  border: none;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


  &.default {
    background: linear-gradient(180deg, #EC840A 0%, #D75E07 100%);
    padding: 0 32px;

    > span {
      color: white;
      font-size: 16px;
    }
  }

  &.outlined {
    background: linear-gradient(180deg, #EC840A 0%, #D75E07 100%);
    box-shadow: inset 0px 6px 4px rgba(255, 255, 255, 0.25);
    padding: 0 24px;

    > span {
      color: white;
      font-size: 16px;
    }
  }

  &.large {
    height: 48px;
    width: 400px;
  }

  &.medium {
    height: 48px;
    width: 118px;
  }

  &.small {
    height: 48px;
    width: 48px;
  }
}
