.modal {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
   max-width: 600px;
   width: 100%;
   height: 617px;
   background: #1D1C2B;
   border: 1px solid #309CFF7F;
   //border-image-source: linear-gradient(180deg, #459DFC 0%, #071A7A 100%);
   border-radius: 6px;
   box-shadow: 0 0 30px rgba(48, 156, 255, 0.5);

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

   font-family: 'Inter';
   font-style: normal;
   color: #FFFFFF;
    text-align: left;

    .close__btn {
      width: 24px;
      height: 24px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .close__btn::before,
    .close__btn::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #EC840A;
    }

    .close__btn::before {
      transform: rotate(45deg);
    }

    .close__btn::after {
      transform: rotate(-45deg);
    }

    h2 {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      color: #FFFFFF;
    }

    p {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
 }

 .modal.active {
   display: block;
 }

 .modal__close {
   cursor: pointer;
   position: absolute;
   left: 35em;
   top: -1em;
   width: 48px;
   height: 48px;
   background: #2A293D;
   border: 1px solid #FFBC56 ;
   //border-image-source: linear-gradient(180deg, #FFBC56 0%, #AD4202 100%);
   box-shadow: inset 0 6px 4px rgba(255, 255, 255, 0.25);
   border-radius: 6px;
   outline: none;
 }

  .modal__img {
    z-index: -1;
    width: 598px;
    height: 304px;
  }

  .modal__content {
    padding: 40px 40px 32px 40px;
  }

  .modal__btn {
    padding-top: 32px;
    display: flex;
    justify-content: flex-end;
  }
