.background__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url("../../assets/backgrounds/main_menu.png") no-repeat center;
  background-size: 100% auto;

  $dark-blue: #2A293D;

  .logo__menu {
    margin: 0 auto;
    position: relative;
    top: 100px;
    background: url("../../assets/logo/logo_big.png");
    width: 450px;
    height: 286px;
  }

  .buttons__menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 120px;

    .dark-button__background {
      border-radius: 6px;
      background: linear-gradient(180deg, #FFBC56 0%, #AD4202 100%);
      padding: 1px;
    }
  }

  .rules__menu-background {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    background: linear-gradient(180deg, #FFBC56 0%, #AD4202 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .rules__menu {
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      border-radius: inherit;
      border: none;
      background: $dark-blue no-repeat center;
      box-shadow: inset 0 6px 4px rgba(255, 255, 255, 0.25);
      cursor: pointer;
    }
  }
}
