@import '../../styles/colors.scss';

.user-photo-root {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &.default {
    height: 48px;
    width: 48px;
  }

  &.large {
    height: 64px;
    width: 64px;
  }

  &.anon {
    background-color: map-get($color_white, '_c');
  }

  > svg {
    display: block;
    margin: 0 auto;
  }
}