.modal-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  background: rgba(29, 28, 43, 0.9);

  &__back {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1117px;
    width: 100%;
    height: 826px;
    background: linear-gradient(180deg, #459DFC 0%, #071A7A 100%);
    border: 1px solid #309CFF7F;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(48, 156, 255, 0.5);
  }

  &__back.active {
    display: block;
  }

  &__block {
    transform: translateY(0.5px);
    background: #1D1C2B;
    max-width: 1115px;
    width: 100%;
    height: 824px;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    text-align: left;
    padding: 55px 0 40px 40px;
    position: relative;

    .btn-back {
      position: absolute;
      top: -16px;
      right: -16px;
      width: 48px;
      height: 48px;
      border-radius: 6px;
      background: linear-gradient(180deg, #FFBC56 0%, #AD4202 100%);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .btn {
        width: 46px;
        height: 46px;
        border-radius: inherit;
        border: none;
        background: #2A293D;
        box-shadow: inset 0 6px 4px rgba(255, 255, 255, 0.25);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          display: block;
          width: 24px;
          height: 24px;
        }

        path {
          stroke: #EC840A;
        }
      }

      &:hover {
        transition: all .3s linear;
        background: linear-gradient(180deg, #FF9356 0%, #AD4202 100%);

        .btn {
          transition: inherit;
          box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.2);

          path {
            transition: all .3s linear;
            stroke: #D75207;
          }
        }
      }

      &:active {
        transition: all .1s linear;
        background:#AD4202;
        .btn {
          transition: inherit;
          box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .content {
    width: 100%;
    height: 746px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 24px;
    }

    &::-webkit-scrollbar-track {
      background: #2A293D;
      border-radius: 4px;
    }


    &::-webkit-scrollbar-thumb {
      width: 16px;
      background: #2A293D;
      box-shadow: inset 0 6px 4px rgba(255, 255, 255, 0.25);
      border-radius: 4px;
      border: 1px solid #FFBC56;
    }

    &::-webkit-scrollbar-button {
      width: 24px;
      height: 24px;
      background: #2A293D;
      border: 1px solid  #FFBC56;
      border-radius: 4px;
      transition: all .3s linear;
    }

    &::-webkit-scrollbar-button:end {
      background-image: url("../../assets/svg/Icon/24_24/arrow_top.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &::-webkit-scrollbar-button:start {
      background-image: url("../../assets/svg/Icon/24_24/arrow_down.svg");
      //background-image: url("../../assets/svg/Icon/24_24/arrow_top.svg");
      //transform: rotate(180deg);
      background-position: center;
      background-repeat: no-repeat;
    }

    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 32px;
    }

    &__block {
      margin-bottom: 32px;
      padding-right: 148px;
    }

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
    }

    ul {
      padding-left: 24px;
    }
  }
}
