@import '../../styles/colors.scss';

#--header {
  padding: 16px 120px;
  border-bottom: 1px solid map-get($color_white, '_c');

  > div {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

    .user {
      display: flex;
      width: 120px;
      gap: 24px;
    }
  }
}