$dark-blue: #2A293D;
$font-style: 'Inter';

.background__politics {
  background: #1D1C2B;
  padding-bottom: 78px;
}

.container {
  margin: 0 auto;
  width: 1680px;
}

.header__politics {
  border-bottom: 1px solid rgba(226, 235, 244, 0.25);
}

.buttons__politics {
  display: flex;
  justify-content: space-between;
}

.button__politics {
  width: 48px;
  height: 48px;
  margin: 16px 0;
  background: $dark-blue;
  box-shadow: inset 0 6px 4px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
}

.home {
  background: url("../../../assets/svg/home.svg") no-repeat center;
}

.rules {
  background: url("../../../assets/svg/rules.svg") no-repeat center;
}

.back {
  margin: 32px 0 24px 0;
  background: url("../../../assets/svg/back.svg") no-repeat center;
}

.politics {
  text-align: center;
  margin: 0 auto;
  background: #FFFFFF;
  width: 1560px;
}

h1 {
  margin: 0 auto;
  padding: 64px 0 32px;
  font-family: $font-style;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: $dark-blue;
}

p {
  text-align: left;
  margin: 0 auto;
  width: 950px;
  font-family: $font-style;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $dark-blue;
}

.close {
  padding: 32px 0 64px 305px;
}
