.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding-bottom: 16px;

  label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  input {
    outline: none;
    width: inherit;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 12px;
    background: rgba(226, 235, 244, 0.05);
    border: 1px solid rgba(226, 235, 244, 0.25);
    border-radius: 6px;
    transition: all .3s linear;
  }

  input:hover {
    border: 1px solid rgba(226, 235, 244, 0.5);
  }

  input:focus {
    border: 1px solid #EC840A;
  }

  input[type="password"] {
    padding-right: 40px;
  }

  .input-block {
    width: inherit;
    position: relative;
  }

  .btn-toggle {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    right: 12px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    svg{
      display: block;
      width: inherit;
      height: inherit;
    }
  }

  .error {
    font-size: 12px;
    line-height: 18px;
    color: #DF1616;
  }

  input:hover.errorInput,
  input:focus.errorInput,
  .errorInput {
    border: 1px solid #DF1616;
  }
}